<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5 d-flex">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <div class="footer-logo">
                        <img src="https://sotap.org/img/core-img/tap_blue_white.png" width="140"
                            height="66.612" alt="logo">
                    </div>
                    <p>在 SoTap，<br/>每一处景色都透露着神奇与瑰丽。从天堂到地狱，每一次冒险都带着好奇与发现。<br/>这一切貌似置身事外，又似乎沉浸其中。遥望远方漫漫，却又已开始偷偷行进。</p>
                    <small>* 为了维持服务器的稳定运行，本服对红石有限制。</small>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Ecosystem</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://wiki.sotap.org">玩家手册</a></li>
                        <li><a href="https://stats.sotap.org">玩家统计</a></li>
                        <li><a href="https://g.sotap.org/">论坛</a></li>
                        <li><a href="https://blog.sotap.org/">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://wiki.sotap.org/#/getting-started/faq">常见问题</a></li>
                        <li><a href="https://sotap.mcrmb.com/">充值中心</a></li>
                        <li><a href="https://github.com/sotapmc">GitHub</a></li>
                        <li><a href="https://qm.qq.com/cgi-bin/qm/qr?k=ayqO3Ymjz_eTFied8htLi2HrpQs4oApY&jump_from=webapi">加入Q群</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">SoTap 技术驱动</h2>
                    <div class="block-23 mb-3">
                        <a href="https://www.cdn77.com/cn" target="_blank" class="partner"><img src="images/cdn77.svg"
                                width="104" height="31" class="img-fluid" alt="cdn77"></a>
                    </div>
                    <div class="block-23 mb-3">
                        <a href="https://help.gamepedia.com/What_is_Hydra" target="_blank" class="partner"><img
                                src="images/poweredbyhydra.png" class="img-fluid" alt="poweredbyhydra"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; [year] SoTap (OFG) 游戏兴趣社区<br/><small>SoTap 是独立的社区性组织，保留一切权力</small></p>
            </div>
        </div>
    </div>
</footer>

<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#F96D00" />
    </svg>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/jquery.mb.YTPlayer.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
