<section class="hero-wrap hero-wrap-2 d-flex"
    style="background-image: url([background]);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate text-bread d-flex align-items-center">
                <div class="text">
                    <h1 class="mb-3 mt-5 bread">[title]</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a>[description]</a></span>
                </div>
            </div>
        </div>
    </div>
</section>