<section class="hero-wrap d-flex">
    <div class="forth d-flex">
        <div class="bg-after d-flex align-self-stretch"></div>
        <div class="text">
            <div class="desc pt-5">
                <span class="subheading">游戏进行中~<br>Minecraft Version 1.16.4</span>
                <h1 class="mb-3">SoTap<br>Waiting for You.</h1>
                <h2 class="mb-4">一个 LGBT Friendly 的游戏兴趣社区</h2>
                <!--<a href="/start" class="go-btn">现已开放入住 &rarr;</a>-->
            </div>
        </div>
    </div>
    <div class="third about-img">
        <div id="home" class="video-hero"
            style="height: 750px; background-image: url(https://sotap.oss-cn-qingdao.aliyuncs.com/header-background.jpg); background-size:cover; background-position: center center;">
        </div>
    </div>
</section>
