<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/index"><img src="https://sotap.org/img/core-img/tap_blue_white.png" width="140"
                height="66.612" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item [index-active]"><a href="/index" class="nav-link">Home</a></li>
                <li class="nav-item [about-active]"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item [rules-active]"><a href="/rules" class="nav-link">Rules</a></li>
                <li class="nav-item [features-active]"><a href="/features" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="https://g.sotap.org/" class="nav-link">BBS</a></li>
                <li class="nav-item"><a href="https://open.sotap.org/" class="nav-link">Changelog</a></li>
                <li class="nav-item"><a href="https://blog.sotap.org/" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="https://wiki.sotap.org/" class="nav-link">Wiki</a></li>
            </ul>
        </div>
    </div>
</nav>
